{% extends '::base.html.twig' %}
{% block title %}Bibliosights - Map{% endblock %}

{# <link rel="stylesheet" href= "{{ asset ('bundles/book/css/style.css') }}"   type="text/css" /> #}
{% block content %}    
    <div id="map_element" style='width: 100%; height: 500px;'></div>
    {{ book.created|date("m/d/Y") }}
    {{ book.id }}
{% endblock %}   
{% block sidebar %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
        {% include 'BookBundle:OpenStreetJS:map.js.twig' with {'markers' : book.markers} %}
    {% endjavascripts %}
    <script>init();</script>
{% endblock %}          