{% extends '::base.html.twig' %}
{% block title %}Bibliosights - New Book{% endblock %}

{% block content %}
<form action="#" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" />
</form>
{% endblock %}