{% extends '::base.html.twig' %}
{% block title %}Bibliosights - OpenLayersTest{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@OpenLayersBundle/Resources/public/css/map_decoration.scss' filter="compass" %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block content %} 
    <div class="row">
        <div class="large-8 columns" id="map"></div>
        <div class="large-4 columns" id="data"></div>  
    </div>
    <div class="row">
        <div class="large-4 columns">a</div>
        <div class="large-4 columns">a</div>
        <div class="large-4 columns">a</div>
    </div>
{% endblock %}   
{% block sidebar %}
    {{ render(controller('BookBundle:Default:generateGeoJSON')) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>OpenLayers_init();</script>
{% endblock %}  
